.block {
    display: block;
}

.inline-flex {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    row-gap: 10px;
    text-wrap: nowrap;
    margin-bottom: 10px;
}

.checkbox {
    margin: 0 10px 0 0;
}

.submit-button {
    padding: 12px 20px;
}

.ml-10 {
    margin-left: 10px;
}

.font-12 {
    font-size: 12px;
}

.font-20 {
    font-size: 20px;
}

.italic {
    font-style: italic;
}

.text-green {
    color: rgb(15, 104, 48);
}

.text-red {
    color: rgb(165, 25, 25);
}

.bg-green {
    background-color: rgb(183, 255, 208);
}

.bg-red {
    background-color: rgb(253, 199, 199);
}

.rounded-8 {
    border-radius: 8px;
    border: none;
}

.border-red {
    border-color: rgb(165, 25, 25);
}
